<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <!-- 
    <bean id="coach" class="com.vasanth.springworkshop.coach.BaseballCoach">
     	<constructor-arg ref="diet"/>
    	<constructor-arg value="Vasanth"/> 
    	
    	<property name="diet" ref="diet"/> 
    	<property name="name" value="Deepan"/>
    </bean>
    
    
    <bean id="diet" class="com.vasanth.springworkshop.diet.FitnessDiet"/>
    Component Scan -->
    
    <context:component-scan base-package="com.vasanth.springworkshop"/>
    
    
    
    
</beans>





